<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Complete</title>
</head>
<body>
    <H1>Signup done sucssesfully</H1>
    <a href="/login"> <BIG>TAP ME TO LOGIN</BIG> </a>
</body>
</html>